In [1]:

import pandas as pd
import csv
from sklearn.decomposition import PCA
from sklearn import datasets
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('crime_data.csv', sep=',')

In [3]:
data.head()

        State  Murder  Assault  UrbanPop  Rape
0     Alabama    13.2      236        58  21.2
1      Alaska    10.0      263        48  44.5
2     Arizona     8.1      294        80  31.0
3    Arkansas     8.8      190        50  19.5
4  California     9.0      276        91  40.6

In [4]:
target = 'State'
data[target]

features = list(data.columns)
targets= data
features.remove(target)
x = data.loc[:, features].values
# Separating out the target
y = data.loc[:,[target]].values
# Standardizing the features
x = StandardScaler().fit_transform(x)

print(x[:5])

[[ 1.25517927  0.79078716 -0.52619514 -0.00345116]
 [ 0.51301858  1.11805959 -1.22406668  2.50942392]
 [ 0.07236067  1.49381682  1.00912225  1.05346626]
 [ 0.23470832  0.23321191 -1.08449238 -0.18679398]
 [ 0.28109336  1.2756352   1.77678094  2.08881393]]

pca analysis

In [5]:
pca = PCA(n_components=2)
principalComponents = pca.fit_transform(x)
x_pca = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2'])

x_pca[:5]

   principal component 1  principal component 2
0               0.985566               1.133392
1               1.950138               1.073213
2               1.763164              -0.745957
3              -0.141420               1.119797
4               2.523980              -1.542934